.agent-dot-green {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #5AA469;
    display: block;
    margin: .1rem;
    animation: scaling 7s infinite;
    display: incline-block;
}

.agent-dot-red {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #B22727;
    display: block;
    margin: .1rem;
    animation: scaling 6s infinite;
    display: incline-block;
}

.agent-dot-yellow {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #F8CB2E;
    display: block;
    margin: .1rem;
    animation: scaling 5s infinite;
    display: incline-block;
}

.agent-dot-blue {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #006E7F;
    display: block;
    margin: .1rem;
    animation: scaling 3s infinite;
    display: incline-block;
}

.agent-dot-black {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    display: block;
    margin: .1rem;
    animation: scaling 4s infinite;
    display: incline-block;
}


.single-agent .agent-data{
    display: none;
}

.single-agent:hover .agent-data{
    display: block;
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: small;
    position: absolute;
    background-color: white;
}

/* border: 1px solid black;
  display: flex;
  margin-top: 5px;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 80%;  
  flex-direction: row;
  flex-wrap: wrap; */

/* .sample-dot {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 20px;
    margin: 8px;
  } */