.homepage-body {
    display: flex;
    background-color: #2a314c;
    max-height: 100%;
    
  } 

  .home-header {
    font: bolder;
    display: flex;
  }
  
  .logo {
    max-width: 200px;
    max-height: 80px;
    position: flex;
    right: 80%;
    margin-right: 2rem;
  }
  
  .dot-container {
    display: flex;
    padding: .5rem;
    width: 130vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2a314c;

  }

  .containerc
  {
    position: relative;
    height: 100%;
    border-bottom: 100px solid #2a314c;
    
  }
  
  .homepage-body {
    /*margin-top: 4rem;*/
    display: flex;
    /*margin-left: 1rem;*/
    background-color: #2a314c;
  }
