.homepage-body {
    display: flex;
    /*margin-left: 1rem;*/
    background-color: #2a314c;
    /*border-radius: 30px;*/
    max-height: 90%;
  } 

  .home-header {
    font: bolder;
    display: flex;
  }
  
  .logo {
    max-width: 200px;
    max-height: 80px;
    right: 80%;
    margin-right: 2rem;
  }
  
  .dot-container {
    display: flex;
    margin-bottom: 100%;
    padding: .5rem;
    width: 90%;  
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2a314c;
  }

  .containerc
  {
    position: relative;
    height: 400px;
    border-bottom: 2px solid rgb(112, 171, 238);
    
  }
  
  .homepage-body {
    /*margin-top: 4rem;*/
    display: flex;
    /*margin-left: 1rem;*/
    background-color: #2a314c;
  }
