<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"> 
        <script>
            var link = document.createElement('link');
            link.rel = 'stylesheet';
     
        link.type = 'text/css';
     
        link.href = 'style.css';
        document.getElementsByTagName('HEAD')[0].appendChild(link);
<div class="container">
    <div class="circle">
        <div class="bar"></div>
    </div>
        <div class="circle">
        <div class="bar"></div>
    </div>
        <div class="circle">
        <div class="bar"></div>
        </div>
        <div class="base"></div>
            <div class="bar"></div>
    </div></script>
</div>
<body>
    <div class="container"></div>
    <div class="bar"></div>
    <div class="container, circle"></div>
    <div class="base"></div>
    <div class=".container .circle:nth-child:nth-child(2)"></div>
    <div class=".container .circle:nth-child:nth-child(3)"></div>
</body>
</head>            
</html>
