.legend {
    padding: 3rem;
}

.legend-items-container {
    margin-top: .5rem;
    margin-right: 4rem;
    font-display: inline-block;
    color: white;
}

.col-sm-2 > span, .col-sm-2 > p {
    display: inline-block;
  }

.legend-header {
    font-size: x-large;
    color: white;

}

.green-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: .25rem;
    background-color: #50c691;
}

.red-dot {
    height: 30px;
    width: 30px; 

    border-radius: 50%;
    margin-right: 0.25rem;
    background-color: #a63249;
}

.yellow-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.25rem;
    background-color: #efc16e;
}

.blue-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.25rem;
    background-color: #4ba9ec;
}

.black-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.25rem;
    background-color: #595974;
}