.homepage {
  margin: 2rem;
  /* background-color: pink;
  opacity: 30%; */
}

.homepage-body {
  margin-top: 3rem;
}

.home-header {
  font: bolder;
  display: flex;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  right: 50%;
  margin-right: 2rem;
}

.dot-container {
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 50%;
}

.sample-dot {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 20px;
  margin: 8px;
}

.legend {
  font: bold;
  text-decoration: underline;
}